{% extends 'layouts/base.html' %}

{% load static %}

{% block titulo_pagina %}
Dashboard
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Starter Page</li>
{% endblock %}

{% block container %}
<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        {% for cartao in cartoes_resumo_data %}
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box {{ cartao.cor }}">
                <div class="inner">
                    <h3>{{ cartao.valor }}</h3>

                    <p>{{ cartao.descricao }}</p>
                </div>
                <div class="icon">
                    <i class="{{ cartao.icone }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div><!-- /.container-fluid -->
{% endblock %}